<header>
    <div class="headerDiv">
        <!--主体头部部分-->
        <div class="rightTop">
            <div class="topLeft">
                <h2>员工机会市场化平台</h2>
            </div>
            <div class="topRight">
                <a href="javascript:void(0)">
                    <svg role="img" class="news">
                        <use xlink:href="#news"></use>
                    </svg>
                    <span>信息</span>
                </a>
                <a href="javascript:void(0)">
                    <svg role="img" class="quit">
                        <use xlink:href="#quit"></use>
                    </svg>
                    <span>退出</span>
                </a>
                <a href="javascript:void(0)"><span>欢迎回来,艾佳</span></a>
            </div>
        </div>
        <!--主体导航部分-->
        <div class="rightNav">
            <ul class="rightNavOul" >
                <li class="active"><a href="javascript:void(0)">体系设置</a></li>
                <li><a href="javascript:void(0)">部门设置</a></li>
                <li><a href="javascript:void(0)">岗位层级设置</a></li>
                <li><a href="javascript:void(0)">编号设计信息</a></li>
                <li><a href="javascript:void(0)">部门岗位设计</a></li>
                <li><a href="javascript:void(0)">项目部门工作范围信息设置</a></li>
                <li><a href="javascript:void(0)">各项目部门工作范围</a></li>
                <li><a href="javascript:void(0)">岗位说明书基本信息设置</a></li>
                <li><a href="javascript:void(0)">岗位说明书模板</a></li>
                <li><a href="javascript:void(0)">岗位工作明细表</a></li>
                <li><a href="javascript:void(0)">组织构成</a></li>
            </ul>
        </div>
    </div>
</header>
<section class="content">
    <!--主体内容部分-->
    <div class="rightBottom">
        <section class="oneSec">
        </section>
    </div>
</section>

