<header>
    <div class="headerDiv">
        <!--主体头部部分-->
        <div class="rightTop">
            <div class="topLeft">
                <h2>员工机会市场化平台</h2>
            </div>
            <div class="topRight">
                <a href="javascript:void(0)">
                    <svg role="img" class="news">
                        <use xlink:href="#news"></use>
                    </svg>
                    <span>信息</span>
                </a>
                <a href="javascript:void(0)" ng-click="login()">
                    <svg role="img" class="quit">
                        <use xlink:href="#quit"></use>
                    </svg>
                    <span>退出</span>
                </a>
                <a href="javascript:void(0)"><span>欢迎回来,艾佳</span></a>
            </div>
        </div>
        <!--主体导航部分-->
        <div class="rightNav">
            <ul class="rightNavOul">
                <li ng-class="{'active': navCla == 'mas1'}" ng-click="navClass('mas1')" >
                    <a href="javascript:void(0)">体系设置</a></li>
                <li ng-class="{'active': navCla == 'mas2'}" ng-click="navClass('mas2')" ><a href="javascript:void(0)">部门设置</a></li>
                <li ng-class="{'active': navCla == 'mas3'}" ng-click="navClass('mas3')" ><a href="javascript:void(0)">岗位层级设置</a></li>
                <li ng-class="{'active': navCla == 'mas4'}" ng-click="navClass('mas4')" ><a href="javascript:void(0)">编号设计信息</a></li>
                <li ng-class="{'active': navCla == 'mas5'}" ng-click="navClass('mas5')" ><a href="javascript:void(0)">部门岗位设计</a></li>
                <li ng-class="{'active': navCla == 'views'}" ng-click="navClass('views')" ui-sref="_root.organize.views.range.list[12]"><a href="javascript:void(0)"  >项目部门工作范围信息设置</a></li>
                <li ng-class="{'active': navCla == 'mas7'}" ng-click="navClass('mas7')" ><a href="javascript:void(0)">各项目部门工作范围</a></li>
                <li ng-class="{'active': navCla == 'mas8'}" ng-click="navClass('mas8')" ><a href="javascript:void(0)">岗位说明书基本信息设置</a></li>
                <li ng-class="{'active': navCla == 'mas9'}" ng-click="navClass('mas9')" ><a href="javascript:void(0)">岗位说明书模板</a></li>
                <li ng-class="{'active': navCla == 'mas10'}" ng-click="navClass('mas10')" ><a href="javascript:void(0)">岗位工作明细表</a></li>
                <li ng-class="{'active': navCla == 'mas11'}" ng-click="navClass('mas11')" ><a href="javascript:void(0)">组织构成</a></li>
                <!--<li ng-class="{'active': navCla == 'mas1'}" ng-click="navClass('mas1')" ui-sref="_root.organize.views.number.list[12]"><a href="javascript:void(0)">体系设置</a></li>
                <li ng-class="{'active': navCla == 'mas2'}" ng-click="navClass('mas2')" ui-sref="_root.organize.views.department.list[12]"><a href="javascript:void(0)">部门设置</a></li>
                <li ng-class="{'active': navCla == 'mas3'}" ng-click="navClass('mas3')" ui-sref="_root.organize.views.topClass.list[12]"><a href="javascript:void(0)">岗位层级设置</a></li>
                <li ng-class="{'active': navCla == 'mas4'}" ng-click="navClass('mas4')" ui-sref="_root.organize.views.number.list[12]"><a href="javascript:void(0)">编号设计信息</a></li>
                <li ng-class="{'active': navCla == 'mas5'}" ng-click="navClass('mas5')" ui-sref="_root.organize.views.departmentPost.list[12]"><a href="javascript:void(0)">部门岗位设计</a></li>
                <li ng-class="{'active': navCla == 'views'}" ng-click="navClass('views')" ui-sref="_root.organize.views.range.list[12]"><a href="javascript:void(0)"  >项目部门工作范围信息设置</a></li>
                <li ng-class="{'active': navCla == 'mas7'}" ng-click="navClass('mas7')" ui-sref="_root.organize.views.departmentWork.list[12]"><a href="javascript:void(0)">各项目部门工作范围</a></li>
                <li ng-class="{'active': navCla == 'mas8'}" ng-click="navClass('mas8')" ui-sref="_root.organize.views.postBasic.list[12]"><a href="javascript:void(0)">岗位说明书基本信息设置</a></li>
                <li ng-class="{'active': navCla == 'mas9'}" ng-click="navClass('mas9')" ui-sref="_root.organize.views.postModel.list[12]"><a href="javascript:void(0)">岗位说明书模板</a></li>
                <li ng-class="{'active': navCla == 'mas10'}" ng-click="navClass('mas10')" ui-sref="_root.organize.views.postDetail.list[12]"><a href="javascript:void(0)">岗位工作明细表</a></li>
                <li ng-class="{'active': navCla == 'mas11'}" ng-click="navClass('mas11')" ui-sref="_root.organize.views.form.list[12]"><a href="javascript:void(0)">组织构成</a></li>-->
            </ul>
        </div>
    </div>
</header>

